# Django Settings
SECRET_KEY=your-secret-key-here-generate-with-django
DEBUG=True

# Database Settings (Postgres Container)
POSTGRES_DB=posts
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-db-password
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=posts
SQL_USER=postgres
SQL_PASSWORD=your-db-password
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

# MLOps / RAG Settings
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_URL=https://your-qdrant-cluster-url
COLLECTION_NAME=resume_embeddings_test
GROQ_API_KEY=your-groq-api-key-here
OPENAI_API_KEY=your-openai-api-key-here
